:root{
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-strong: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #01AAC1;
    --color-secondary:  #59C2CC;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separete: #cccccc;

}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

html, body{
        font-family: 'PoppinsRegular', 'Rubik', sans-serif;
        background-color: var(--color-background);
        color: var(--color-text);
}

.primary-text{color: var(--color-primary);}

strong{font-family: 'PoppinsMedium', 'Rubik', sans-serif;}
.ativo{background-color: var(--color-primary) !important;}

a.navbar-brand{margin-left: -5px !important;}

.nav-link{color: var(--color-black) !important; padding: 0 35px !important;}

.btn-white{background-color: var(--color-white); color: var(--color-black) !important;
border-radius: 20px; padding: 15px 15px; font-size: 1em; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);}

.btn-white:hover{background-color: var(--color-primary);}

.btn-icon{padding-right: 75px;}

.btn-icon .icon{display: inline-block; color: var(--color-black); background-color: var(--color-primary);
width: 40px; height: 40px; position: absolute; right: 10px; margin-top: -8px; border-radius: 15px;
text-align: center; padding-top: 8px;}

.content-banner{padding: 100px 0;}

.text-banner{ flex-direction: column; justify-content: center; margin-bottom: 5px;}
.text-banner h1{color: var(--color-black); font-size: 3em;}
.text-banner p {margin: 15px 0; font-size: 1em;}

.btn-celeste{color: var(--color-white) !important; font-size: 1em; background-color: var(--color-primary);
border-radius: 1em; padding: 15px 25px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);}

.btn-icon-left{padding-left: 70px;}

.btn-icon-left .icon-left{display: inline-block; color: var(--color-white); background-color: var(--color-primary);
    width: 40px; height: 40px; position: absolute;  margin-left: -60px; margin-top: -8px; border-radius: 15px;
    text-align: center; padding-top: 8px;}

.btn-sm{border-radius: 15px !important; font-size: 1em !important; padding: 9px 15px !important;}

.card-moto{height: 370px; width: 440px; border-radius: 6em; background-color: var(--color-secondary);
position: absolute; right: 0; }

.img-moto img{position: absolute; width: 570px; top: 30px; right: 85px;}

.card{border-radius: 1em; font-size: 1em; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
     padding: 15px 20px; border: none !important;}

.card-case{width: 350px; font-size: 14px; position: absolute; right: -10px; bottom: -75px;}

.card-case-name{position: absolute; font-size: 12px; color: var(--color-primary); right: 20px; bottom: 10px;}

.services{padding: 100px 0;}
.services-bg{position: absolute; left: 0; right: 0; height: 600px; background-image: url('../img/icons-sections-bg.png'); background-repeat: no-repeat; background-position: center;}

.section-title{color: var(--color-primary); font-size: 16px; text-transform: uppercase; letter-spacing: 5px;}
.title{color: var(--color-black); font-size: 2em; margin: 5px 0 30px 0;}

.card-icon{height: 150px; margin: 0 auto; margin-bottom: 55px; display: flex; 
    align-items: center; justify-content: center;}
.card-text{color: var(--color-secondary); padding: 0 30px; font-size: 15px;}
.card-text p{font-size: 1.1em; color: var(--color-black); margin-bottom: 10px;}

.iconify{margin: -5px 0;}

.catalog-bg{position: absolute; left: 0; right: 0; height: 600px; background-image: url('../img/icons-sections-bg.png'); background-repeat: no-repeat; background-position: center;}
.card-item{ height: 360px;}
.card-item .img-catalog img{width: 100%; border-radius: 11px;}
.card-item .title-catalog{text-overflow: ellipsis; color: var(--color-black); white-space: nowrap;
overflow: hidden; height: 40px; margin-bottom: 0px;}
.card-item .price-catalog{color: var(--color-primary); font-size: 1.2em;}

.card-item .add-cart{display: none; text-align: center; height: 30px; justify-content: center; align-items: center;}

.btn-less{color: var(--color-black-strong); padding: 5px 7px; border: 2px solid var(--color-black-strong);
border-top-left-radius: 10px; border-bottom-left-radius: 10px; cursor: pointer; font-size: 14px;}

.btn-plus{color: var(--color-black-strong); padding: 5px 7px; border: 2px solid var(--color-black-strong);
    border-top-right-radius: 10px; border-bottom-right-radius: 10px; cursor: pointer; font-size: 14px;}

.btn-number-itens{color: var(--color-black-strong); padding: 2px 15px; border-top: 2px solid var(--color-black-strong);
border-bottom: 2px solid var(--color-black-strong); font-size: 18px;}

.btn-add{font-size: 16px;  border: 2px solid var(--color-black-strong); border-radius: 10px;
color: var(--color-white); padding: 4px 10px; background-color: var(--color-black-strong); margin-left: 15px;}

.card-item:hover{background-color: var(--color-primary);}
.card-item:hover .title-catalog{display: none;}
.card-item:hover .add-cart{display: flex;}
.card-item:hover .price-catalog{color: var(--color-black-strong) !important; margin-top: 20px;}

.depositions{padding: 100px 0;}
.title-depositions{color: var(--color-primary); font-size: 16px; text-transform: uppercase; letter-spacing: 5px;}
.text-depositions{padding-left: 150px !important;}

.item-deposition{margin-top: 70px;}
.container-data-deposition{display: flex;}
.img-deposition{width: 65px; height: 65px; background-color: var(--color-white); border-radius: 50px;
background-repeat: no-repeat; margin-right: 15px;}

#deposition .img-deposition{background-image: url('../img/user_depoimento_motoverso.png');
background-size: cover;}

.name-deposition{font-size: 1.1em; color: var(--color-black); margin-bottom: 5px;}
.score-deposition{color: var(--color-primary);}
.score-deposition span{color: var(--color-black);}

.text-deposition{display: flex; font-size: 16px; color: var(--color-black);}
.text-deposition svg{color: var(--color-primary); font-size: 1.7em;}
.text-deposition svg:first-child{margin: 10px 20px;}
.text-deposition svg:last-child{margin: 50px 0;}

.depositions-bg{position: absolute; left: 0; right: 0; height: 600px; background-image: url('../img/icons-sections-bg.png'); background-repeat: no-repeat; background-position: center;}