:root{
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #01AAC1;
    --color-secondary:  #59C2CC;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separete: #cccccc;

}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

html, body{
        font-family: 'PoppinsRegular', 'Rubik', sans-serif;
        background-color: var(--color-background);
        color: var(--color-text);
}
strong{
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}
.nav-link{color: var(--color-black); padding: 0 35px !important;}