@media (max-width: 767px) {
        .dont-mobile{display: none !important;}
        .col-one{padding: 0 25px !important;}
        .navbar-toggler-icon{padding-top: 5px;}
        .navbar-collapse{background-color: var(--color-secondary);
        text-align: center; border-radius: 40px; padding: 40px 0;}
        .navbar-collapse .btn-white{margin-top: 20px;}
        .navbar-collapse .btn-icon{padding-right: 20px;}
        .navbar-collapse .btn-icon .icon{display: none;}
        .content-banner{padding: 50px 0;}
        .text-banner h1{font-size: 36px;}
        .text-banner p{font-size: 18px;}
        .btn-celeste, .btn-white{padding: 13px 23px; font-size: 18px;}
        .btn-icon-left span.icon-left{width: 43px; height: 43px; margin-left: -56px;}
        .btn-icon-left{padding-left: 63px !important;}
        .title{font-size: 30px;}
        .services{padding: 50px 0 !important;}
        .container-categorias a{margin: 5px 0;}
        .img-catalog{position: absolute; left: 15px;}
        .card-item{height: 110px; padding-left: 110px; justify-content: center; align-items: start;
        margin: 10px 0;}
        .card-item .img-catalog img{width: 80px;}
        .title-catalog{margin-top: 0px !important; height: 30px !important; width: 100% !important;
        text-align: left !important;}
        .price-catalog{margin-bottom: 0px !important; margin-top: 0px !important; font-size: 22px !important;}
        .card-item .add-car{margin-top: 5px;}
        #itemsCatalog .mb-5{margin-bottom: 15px !important;}
        .depositions{padding: 50px 0 !important;}
        .reserve{padding: 50px 0 0 0 !important;}
        .card-secondary{padding: 45px; border-radius: 50px;}
        .container-logo-footer{justify-content: center; padding: 20px 0 0 0 !important;}
        footer{ margin: 15px 0 0 0 !important;}
        .container-text-footer p{text-align: center;}
        .container-social-footer{margin-top: 15px; justify-content: center; margin-bottom: 20px;}
}